@font-face {
    font-family: 'chil-m';
    src: url(font/Chillax-Medium.otf);
}

@font-face {
    font-family: 'chil-b';
    src: url(font/Chillax-Semibold.otf);
}

@font-face {
    font-family: 'roboto';
    src: url(font/Roboto-Italic-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family: 'roboto2';
    src: url(font/Roboto-VariableFont_wdth\,wght.ttf);
}


*{
    margin: 0;
    padding: 0;
}


body{
    background: black;
    font-family: 'roboto';
    color: white;
    overflow-x: hidden;
}



header{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: left;
    margin-left: 20px;
    align-items: center;
    color: white;
    }
    .wrapper{
        margin-bottom: 150px;
    }

.logo{
    margin-left: 20px;
}

.text{
    text-align: center;
    margin-top: 50px;
}


.text .zag1{ 
    margin-bottom: -20px;
    font-size: 55px;
    font-family: 'roboto2';
    font-weight: 900;
}

.text .zag2{ 
    margin-bottom: 15px;
    font-size: 45px;
    font-family: 'roboto2';
    font-weight: 900;
}

.text .zag2{
    margin-bottom: 10px;
    background: #A0E720;
    color: transparent;
    background-clip: text;
     -webkit-background-clip: text;
}

.text p{
    margin-top: 10px;
    font-size: 20px;
}

.button {
    position: relative;
    text-align: center;
    margin-top: 20px;
    font-family: 'roboto2';
    display: flex;
    gap: 20px;
    justify-content: center;
    color: rgb(255, 255, 255);
}

.button a{
    text-decoration: none;
    padding-bottom: 1000px;
    color: white;
}

.button .method1{
    width: 150px;
    height: 20px;
    border: 1px;
    padding: 5px;
    border-radius: 400px;
     background: white;
     display: flex;
     justify-content: center;
     align-items: center;
}

.button .method1:hover,
.button .method2:hover{
   box-shadow: 0 0 6px #ECBFBF;
}

.button .method1 a,
.button .method2 a{
    font: inherit; 
    width: calc(100% - 4px);
    height: calc(100% - 2px);
    border-radius: 400px;
    padding: 5px;
    background: black;
}

.bus{
    position: relative;
   text-align: center;
   z-index: 3;
   margin-top: -520px;
    animation: flight2 4s infinite;
}

.bus img{
    width: 1000px;
    object-fit: cover;
    text-align: center;
}

.robot{
    position: relative;
    text-align: center;
    z-index: 4;
    animation: flight 5s infinite;
}

@keyframes flight {
  0% {
    transform: translateX(0) translateY(0); /* Движение по прямой */
  }
  50% {
    transform: translateX(-10px) translateY(10px); /* Движение по дуге с покачиванием */
  }
  100% {
    transform: translateX(0) translateY(0); /* Возвращение в исходную точку */
  }
}

@keyframes flight2 {
  0% {
    transform: translateX(0) translateY(0); /* Движение по прямой */
  }
  50% {
    transform: translateX(10px) translateY(-10px); /* Движение по дуге с покачиванием */
  }
  100% {
    transform: translateX(0) translateY(0); /* Возвращение в исходную точку */
  }
}
.robot img{
    width: 900px;
    object-fit: cover;
    text-align: center;
}

.r1{
    position: absolute;
    background: #FAED00;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    z-index: 2;
    margin-top: -400px;
    right: 0;
    margin-right: 100px;
    opacity: 0.2;
    filter: blur(90px);
}

.r2{
    position: absolute;
    background: #0087CD;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    z-index: 2;
    margin-top: -400px;
    left: 0;
    margin-left: 100px;
    opacity: 0.2;
    filter: blur(90px);
}

.r3{
    position: absolute;
    background: #A0E720;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    z-index: 2;
    margin-top: -350px;
    left: 0;
    margin-left: 500px;
    opacity: 0.2;
    filter: blur(90px);
}

.r1, .r2, .r3{
    animation: puls 7s infinite ease-in-out; /*переход начинается медленно, ускоряется и снова замедляется к концу.*/
}

@keyframes puls {
    0%{
        transform: scale(1);
        opacity: 0.1;
    }
    25%{
        transform: scale(1.2);
        opacity: 0.2;
    }
    50%{
        transform: scale(1.5);
        opacity: 0.35;
    }
    75%{
        transform: scale(1.2);
        opacity: 0.2;
    }
    100%{
        transform: scale(1);
        opacity: 0.1;
    }
}




